.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin-top: 20px;
  text-align: center;
}

.logo {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.glow-logo:hover {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(62, 129, 141, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(170, 26, 184, 0.5));
  transition: filter 0.3s ease-in-out;
}

.navbarbutts {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navbar a {
  color: inherit;
}

.linkto {
  width: 50px;
  height: auto;
  border-radius: 100px;
  z-index: 10;
  background: inherit;
  position: fixed;
  padding: 8px 8px 8px 8px;
  align-items: center;
  text-align: center;
  left: 20px;
  top: 20px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    yellow,
    orange,
    red,
    violet,
    purple,
    blue,
    yellow
  );
  background-size: 400%;
  border-radius: 30px;
  z-index: 10;
}

/* 3d */

.navbarbutts {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1 rem;
  font-size: 2rem;
  text-decoration: none;
}
.navbar li.active {
  background-color: #3e375a;
  border-radius: 7px;
}

.navbar li:hover {
  background-color: rgba(119, 119, 119, 0.041);
  border-radius: 7px;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  position: relative;
  display: block;
  background: rgba(51, 51, 51, 0.062);
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}

ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(#38478a, #9198e58c, #bd63bd00, #bd63bd00);
  transition: 0.5s;
  transform: scale(1.3);
  z-index: 10;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #10f7ff;
}

ul li a:hover {
  color: #ffd446;
  box-shadow: 0 0 5px #10f7ff;
  text-shadow: 0 0 5px #10dbff;
}

.linkto:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.linkto:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 10;
  background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5%;
}
.linkto:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

@media (max-width: 760px) {
  .linkto {
    bottom: 20px;
    left: 20px;
    top: auto;
  }

  .navbar {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    gap: 0;
  }
  .logo {
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 20px;
    top: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 999;
  }
  a {
    align-items: center;
    margin: 0;
  }
  ul li a {
    font-size: 1rem;
  }
  ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background: #ffef1000;
    text-align: center;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: 10;
  }
}
